header.encabezado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #efb810;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  header.encabezado img {
    height: 50px;
  }
  
  nav.navegacion a {
    margin-right: 50px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav.navegacion a:hover {
    color: #000;
  }
  
  body {
    margin: 0;
    padding-top: 80px; /* Deja espacio para el header */
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
  }
  