body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #dfdfdf;
}

header.encabezado img {
  height: 50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

main.barberos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

section.barbero {
  width: 45%;
  margin-bottom: 20px;
  border: 1px solid #ffa3a3;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

section.barbero img {
  width: 300px; /* Agranda el tamaño de la imagen */
  height: 300px; /* Igualar altura para mantener la forma circular */
  border-radius: 50%; /* Mantener forma circular */
  object-fit: cover; /* Ajusta la imagen para que se ajuste al contenedor circular */
  margin: 15px auto; /* Centra la imagen en el contenedor */
  display: block;
}

.descripcion {
  padding: 15px;
  background-color: #f6d1c8; /* Color de fondo del contenedor de descripción */
  border-top: 1px solid #ddd; /* Separación entre la imagen y la descripción */
}

.descripcion h3 {
  margin-top: 0;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(0);
}

.mapa {
  margin: 20px;
  text-align: center;
}

.mapa iframe {
  width: 100%;
  height: 400px;
  border: 0;
}

.footer {
  background-color: #dfdfdf;
  color: black;
  text-align: center;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

