/* Global Styles */


body {
    font-family: Arial, sans-serif !important;
    background-color: #f5f5f5 !important;
    margin-bottom: 60px
}
header.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #dfdfdf;
}

header.encabezado img {
  height: 50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}


  
  .container {
    max-width: 1400px;
    margin: 80px auto;
    padding: 20px;
    background-color: #f6d1c8;
    border: 1px solid #ffa3a3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  /* Logo Styles */
  
  .img-fluid {
    width: 100%;
    height: 100px;
    object-fit: contain;
    margin-bottom: 20px;
  }
  
  /* Form Styles */
  
  form {
    margin-top: 20px;
  }
  
  .form-label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form-control {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
  .form-text {
    font-size: 14px;
    color: #666;
  }
  
  /* Button Styles */
  
  #start-button {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-outline-primary:hover {
    background-color: #23527c;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {
    .container {
      margin: 20px auto;
    }
    .col-md-6, .col-md-5 {
      flex: 1;
    }
  }
  .btn-link {
    font-size: 1rem; /* Tamaño de fuente igual al de los botones */
    font-weight: 400; /* Peso de fuente normal */
    color: #007bff; /* Color del texto (azul predeterminado de Bootstrap) */
    text-align: center; /* Alineación del texto al centro */
    background-color: transparent; /* Sin color de fondo */
    border: none; /* Sin borde */
    padding: 0; /* Sin relleno */
    cursor: pointer; /* Apunta al cursor cuando se pasa por encima */
    text-decoration: none; /* Sin subrayado */
}

.btn-link:hover {
    color: #0056b3; /* Color del texto cuando se pasa el mouse (azul oscuro) */
    text-decoration: underline; /* Subrayado cuando se pasa el mouse */
}

.btn-link:focus, .btn-link.focus {
    color: #0056b3; /* Color del texto cuando el enlace está enfocado */
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); /* Sombra de enfoque */
}
.footer {
  background-color: #dfdfdf;
  color: black;
  text-align: center;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0; /* Asegura que el footer se alinee a la izquierda */
  z-index: 1000; /* Asegura que el footer esté encima de otros elementos */
}