body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #f50000;
    background-color: #292727;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .fondo {
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto en blanco para que sea visible sobre el fondo negro */
  }
  
  /* También podrías querer asegurar que el texto dentro de las secciones sea blanco. */
  .barberos, .descripcion, .servicios h2, .servicio-item h3, .elementor-icon-box-title {
  color: #fff;
  }
  
  .servicio-item p, .elementor-icon-box-description {
  color: #ccc; /* Un gris suave para el texto de descripción */
  }
  
  /* Header Styles */
  header.encabezado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #efb810;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  header.encabezado img {
    height: 50px;
  }
  
  nav.navegacion a {
    margin-right: 50px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav.navegacion a:hover {
    color: #000;
  }
  

  
  
  /* Main Section Styles */
  main.barberos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  section.barbero {
    width: 45%;
    margin-bottom: 20px;
    border: 1px solid #efb810;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  section.barbero img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin: 15px auto;
    display: block;
  }
  
  /* Descripccion de los barberos */
  .descripcion {
    padding: 15px;
    background-color: #000000;
    color: #fff;
    border-top: 1px solid #ddd;
  }
  
  .descripcion h3 {
    margin-top: 0;
  }
  
  /* Boton agendar cita barberos */
  .btn {
    display: inline-block;
    padding: 12px 20px;
    margin-top: 10px;
    background-color: #efb810;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  
  .btn:active {
    transform: translateY(0);
  }
  .servicios{
  background-color: #000;
  color: #fff;
  }
  /* Map Section Styles */
  .mapa {
    margin: 20px;
    text-align: center;
  }
  
  .mapa iframe {
    width: 100%;
    height: 400px;
    border: 0;
  }
  
  /* Footer Styles */
  .footer {
    background-color: #efb810;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  /* Flexbox Utilities for Elementor */
  .e-con.e-flex > .e-con-inner {
    flex-wrap: var(--flex-wrap);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    align-content: var(--align-content);
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: auto;
  }
  
  .e-con-full.e-flex, .e-con.e-flex > .e-con-inner {
    flex-direction: var(--flex-direction);
  }
  
  .e-con > .e-con-inner {
    gap: var(--gap);
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
    padding-inline-start: 0;
    padding-inline-end: 0;
    height: 100%;
  }
  
  .e-con, .e-con > .e-con-inner {
    display: var(--display);
  }
  
  .e-con-full, .e-con > .e-con-inner {
    text-align: var(--text-align);
    padding-block-start: var(--bc-padding-block-start, var(--padding-block-start));
    padding-block-end: var(--bc-padding-block-end, var(--padding-block-end));
  }
  
  /* Box-Sizing for All Elements */
  *, :after, :before {
    box-sizing: border-box;
  }
  
  /* Global CSS Variables (Example) */
  :root {
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #007aff;
    --joinchat-ico: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M3.516 3.516c4.686-4.686 12.284-4.686 16.97 0 4.686 4.686 4.686 12.283 0 16.97a12.004 12.004 0 0 1-13.754 2.299l-5.814.735a.392.392 0 0 1-.438-.44l.748-5.788A12.002 12.002 0 0 1 3.517 3.517zm3.61 17.043.3.158a9.846 9.846 0 0 0 11.534-1.758c3.843-3.843 3.843-10.074 0-13.918-3.843-3.843-10.075-3.843-13.918 0a9.846 9.846 0 0 0-1.747 11.554l.16.303-.51 3.942a.196.196 0 0 0 .219.22l3.961-.501zm6.534-7.003-.933 1.164a9.843 9.843 0 0 1-3.497-3.495l1.166-.933a.792.792 0 0 0 .23-.94L9.561 6.96a.793.793 0 0 0-.924-.445 1291.6 1291.6 0 0 0-2.023.524.797.797 0 0 0-.588.88 11.754 11.754 0 0 0 10.005 10.005.797.797 0 0 0 .88-.587l.525-2.023a.793.793 0 0 0-.445-.923L14.6 13.327a.792.792 0 0 0-.94.23z'/%3E%3C/svg%3E);
    --joinchat-font: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  
  }
  
  
  
  /* --------------------------Seccion promocional de servicios (Diamantes rotativos ) --------------------- */
  .promocional-section {
  display: flex; /*Convierte el contenedor en un contenedor flexible */
  justify-content: space-between; /* Distribuye los elementos de manera uniforme */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias filas */
  gap: 30px; /* Espacio entre los elementos */
  padding: 40px 0; /* Espacio alrededor del contenedor */
  background-color: #000000; /* Fondo del div section promocional de servicios en este caso (negro) */
  }
  /*Cuadros de servicios */
  .elementor-element {
  width: 300px; /* Ancho del diamante rotativo*/
  background-color: #efb810; /* Color del diamante rotativo */
  color: rgb(0, 0, 0); /* Color del texto dentro del diamante rotativo */
  padding: 20px; /* Espacio entre el diamante y el texto */
  text-align: center; /* Alineacion del texto (centrada) */
  position: relative; /* Posicion del diamante */ 
  transform: rotate(50deg); /* Posicion del diamante, este trasform aplica la rotacion */
  transform-origin: center; /* Posicion de los diamantes en este caso (centrada) */
  box-shadow: 0 4px 8px rgb(227, 12, 255); /* Color del fondo del diamante */
  transition: transform 0.5s ease, box-shadow 0.3s ease; /* Movimiento del diamante al poner el scrol encima  */
  height: 300px; /* Alto del diamante rotativo */
  display: flex; 
  justify-content: center; 
  align-items: center;
  }
  
  /* Efecto del diamante al poner el scroll encima (Hover) */
  .elementor-element:hover {
  transform: rotate(45deg) translateY(-10px); /* Movimiento del diamante cuando esta suspendido */
  box-shadow: 0 10px 20px rgb(121, 0, 219); /* Color del fondo del diamante cuando el scroll esta encima */
  }
  
  
  
  /* Texto dentro de los diamantes */
  .elementor-icon-box-wrapper {
  display: flex; 
  flex-direction: column; /* Cambia la dirección de los elementos */ 
  align-items: center; /* Centra los elementos horizontalmente */
  transform: rotate(-45deg); /* Rotación del texto */
  }
  
  .elementor-icon-box-icon {
  margin-bottom: 20px; /* Margen del texto*/
  }
  
  .elementor-icon {
  font-size: 40px;
  color: rgb(0, 0, 0);
  transition: color 0.3s ease;
  }
  
  /* Hover effect on icon */
  .elementor-icon-box-icon:hover .elementor-icon {
  color: #ff4500; /* Darker orange on hover */
  }
  
  /* Title styling */
  .elementor-icon-box-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  transition: color 0.3s ease;
  }
  
  /* Efecto del titulo */
  .elementor-element:hover .elementor-icon-box-title {
  color: #020202; /* Color del titulo */
  }
  
  /* Efecto del texto */
  .elementor-icon-box-description {
  font-size: 18px;
  color: #000000;
  line-height: 1.6;
  padding: 0 10px;
  }
  
  /* Responsive design */
  @media (max-width: 1024px) {
  .elementor-element {
    width: 45%;
  }
  }
  
  @media (max-width: 768px) {
  .elementor-element {
    width: 100%;
  }
  }
  
  /*--------------------------------Final de Seccion promocional de servicios (Diamantes rotativos )---------------------------------------*/
  
  /* Estilos generales para la sección de Servicios */
  .servicios {
  padding: 80px 50px; /* Espacio alrededor del contenedor */
  text-align: center;
  background-color: #000000; /* Fondo del div en este caso negro */
  }
  
  .servicios h2 {
  font-size: 2.5em;
  color: #ffffff;
  margin-bottom: 100px;
  }
  
  .servicio-lista {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 145px;
  justify-items: center;
  }
  
  /*Cuadros de servicio */
  .servicio-item {
  background-color: #efb810;
  border-radius: 10px;
  box-shadow: 0 4px 8px #efb810;
  padding: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 500px;
  text-align: center;
  }
  
  .servicio-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px #efb810;
  }
  
  .icono img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
  }
  
  .icono img:hover {
  transform: scale(1.05);
  }
  
  .servicio-item h3 {
  font-size: 1.8em;
  color: #333;
  margin-top: 15px;
  }
  
  .servicio-item p {
  font-size: 1em;
  color: #666;
  margin-top: 10px;
  }
  
  /* Efecto de hover para las imágenes */
  .icono img {
  transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .servicio-item:hover .icono img {
  transform: scale(1.05);
  opacity: 0.9;
  }
  /* Asegura que el body ocupe toda la altura de la página */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Contenedor principal del contenido */
.contenido-pagina {
    flex: 1; /* Hace que este contenedor use el espacio restante */
    padding: 20px;
}

/* Estilos del Footer */
footer.pie {
    background-color: #efb810;
    padding: 20px;
    text-align: center;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

footer.pie p {
    margin: 0;
    color: #333;
}

footer.pie .links-footer {
    margin-top: 10px;
}

footer.pie .links-footer a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

footer.pie .links-footer a:hover {
    text-decoration: underline;
}
  

  
  
  
  